@use "sass:math";
//
//// External fonts
//@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

//// WordPress base styles
@use "../../node_modules/@wordpress/base-styles/_colors.scss";
@use "../../node_modules/@wordpress/base-styles/_variables.scss";
@use "../../node_modules/@wordpress/base-styles/_mixins.scss";
@use "../../node_modules/@wordpress/base-styles/_breakpoints.scss";
@use "../../node_modules/@wordpress/base-styles/_animations.scss";
@use "../../node_modules/@wordpress/base-styles/_z-index.scss";
@use "../../node_modules/@wordpress/base-styles/_default-custom-properties.scss";

 //WordPress block library styles
//@use "../../node_modules/@wordpress/block-library/src/style.scss";
@use "../../node_modules/@wordpress/block-library/src/theme.scss";

 //WordPress block editor styles (for Gutenberg blocks)
@use "../../node_modules/@wordpress/components/build-style/style.css";
@use "../../node_modules/@wordpress/block-editor/build-style/style.css";

// Tailwind base (this might reset some WordPress styles)
//@tailwind base;
//@tailwind components;
//@tailwind utilities;
//
//// Your custom Gutenberg post styles (place these LAST)
//.wp-block-post-content {
//  // Custom styles for post content
//  font-family: 'Inter', sans-serif;
//  line-height: 1.6;
//
//  // Style specific Gutenberg blocks
//  .wp-block-paragraph {
//    margin-bottom: 1.5rem;
//  }
//
//  .wp-block-heading {
//    font-weight: 600;
//    margin-bottom: 1rem;
//  }
//
//  .wp-block-image {
//    margin: 2rem 0;
//  }
//}

//custom css

//@tailwind base;
//@tailwind components;
//@tailwind utilities;


:root {
  --blue-10: #7f9ad6f7;
  --blue-20: #486ec4;
  --blue-30: #2951ac;
  --blue-40: #193881;
  --blue-50: #050950;
  --black-10: #858585;
  --black-20: #2d2d2d;
  --text: #515151;
}

@theme inline {
  --color-blue-10: var(--blue-10);
  --color-blue-20: var(--blue-20);
  --color-blue-30: var(--blue-30);
  --color-blue-40: var(--blue-40);
  --color-blue-50: var(--blue-50);
  --color-black-10: var(--black-10);
  --color-black-20: var(--black-20);
  --color-text: var(--text);
  --font-sans: var(--font-dm-sans);
  --font-sora: var(--font-sora);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

p,
a,
li,
span {
  font-family: var(--font-sans);
}

.container {
  max-width: 1260px !important;
}

.white_button_gradient {
  background: linear-gradient(180deg, #ffffff 0%, #b4b4d1 100%);
}

.gradient {
  background: linear-gradient(120deg, #3d60ad 21.65%, #153170 78.35%);
}

.slick-list {
  margin: 0 -10px;
  z-index: 2;
}
.slick-slide > div {
  padding: 0 10px;
}

.blog_gradient {
  background: linear-gradient(180deg, #eff7ff 54.73%, #ffffff 105.65%);
}
.home_page_blog_gradient {
  background: linear-gradient(
                  180deg,
                  rgba(239, 247, 255, 0) 0%,
                  #eff7ff 50%,
                  #eff7ff 100%
  );
}

.logo-scroller {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.logo-track {
  display: flex;
  width: max-content;
  animation: scroll 20s linear infinite;
  gap: 40px; /* space between logos */
  align-items: center;
}
.slick-dots button {
  padding: 0 !important;
}
.slick-dots li button:before {
  font-size: 15px !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Optional: Mobile only */
@media (min-width: 768px) {
  .logo-track {
    animation: none;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .grid-order {
    order: 2;
  }
}


.content h2,
.content h3,
.content h4,
.content h5,
.content h1{
  font-size: 22px;
  font-weight: 600;
}
.content h6{
  font-size: 20px;
  font-weight: 600;
}