@import "tailwindcss";

:root {
  --blue-10: #7F9AD6F7;
  --blue-20: #486EC4;
  --blue-30: #2951AC;
  --blue-40: #193881;
  --blue-50: #050950;
  --black-10: #858585;
  --black-20: #2D2D2D;
  --text: #515151;
}

@theme inline {
  --color-blue-10: var(--blue-10);
  --color-blue-20: var(--blue-20);
  --color-blue-30: var(--blue-30);
  --color-blue-40: var(--blue-40);
  --color-blue-50: var(--blue-50);
  --color-black-10: var(--black-10);
  --color-black-20: var(--black-20);
  --color-text: var(--text);
  --font-sans: var(--font-dm-sans);
  --font-sora: var(--font-sora);
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-sora);
}

p, a, li, span {
  font-family: var(--font-sans);
}

.container {
  max-width: 1260px !important;
}

.white_button_gradient{
  background: linear-gradient(180deg, #FFFFFF 0%, #B4B4D1 100%);
}